name: Danger
on: 
  pull_request:
  push:
    branches:
      - master
jobs:
  danger:
    runs-on: macos-latest
    # https://github.com/danger/danger/issues/1103
    if: (github.event.pull_request.head.repo.fork == false)
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
    - name: Setup ruby
      uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
      with:
        ruby-version: '3.4'
        bundler-cache: true
    - name: Cache Mint
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: .mint
        key: ${{ runner.os }}-mint-${{ env.SWIFTLINT_VERSION }}
        restore-keys: |
          ${{ runner.os }}-mint-
    - name: Install Mint and Packages
      run: |
        brew install mint
        mint install realm/SwiftLint@${{ env.SWIFTLINT_VERSION }}
    - name: Run Danger
      run: bundle exec danger
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    env:
      MINT_PATH: .mint/lib
      MINT_LINK_PATH: .mint/bin
      SWIFTLINT_VERSION: 0.62.2
      DEVELOPER_DIR: /Applications/Xcode_26.1.app/Contents/Developer
