name: Swift-Build
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15, macos-26]
        xcode: ['16.4', '26.1']
        exclude:
          - os: macos-26
            xcode: '16.4'
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer"
    steps:
    - uses: actions/checkout@v6
    - name: Build and Test
      run: swift test
